.vscode/**
.vscode-test/**
src/**
webviews/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules
.wdio-vscode-service
**.vsix

__mocks__
test
coverage
*.log
*.config.mjs
*.config.js
*.conf.ts
.github