.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
docs/**
**/*.map
.gitignore
tsconfig.json
eslintrc.json
vsc-extension-quickstart.md
azure-pipelines.yml
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules