body{
    text-align: left;
    font-size: medium;
    margin: 15px;
}

h2 {
    font-weight: bolder;
    margin-bottom: 15px;
}

table, th, td {
    border-spacing: 0;
}

.main{
    margin: 15px;
}

.main > table{
    min-width: 75%;
}

.subtable{
    width: 100%;
}

.subtable td{
    width: 50%;
}

.subtable tr{
    width: 100%;
}

td .subtable {
    padding: 7px;
}

.main th, td {
    border: 1px solid black;
}

.main th{
    text-align: left;
}

.main > td{
    text-align: left;
}

.main th + th {
    border-left: 0;
}

.main td + td {
    border-left: 0;
}

th, td {
    padding-left: 5px;
    padding-right: 5px;
}
