body{
  text-align: left;
  font-size: medium;
  margin: 15px;
}

.rule-card {
  border-radius: 2px;
  margin: 15px;
  display: block;
}

h2 {
  font-weight: bolder;
  margin-bottom: 15px;
}

.description {
  padding-left: 5px;
  padding-right: 5px;
  /*margin: 0 0 0.5em 0;*/
}

.docRefs {
  padding-left: 5px;
  padding-right: 5px;
  margin: 15px;
}

.missing {
  color: #999;
}
