body{
    text-align: left;
    font-size: medium;
    margin: 15px;
}

h2 {
    font-weight: bolder;
    margin-bottom: 15px;
}

p{
    margin: 15px 0;
    font-style: italic;
}

#main{
    display: inline-block;
}

#options{
    margin: 15px;
    width: auto;
}

button{
    padding: 8px 30px;
    font-weight: bolder;
    font-size: medium;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: auto;
}