body{
    text-align: left;
    font-size: medium;
    margin: 15px;
}

h2 {
    font-weight: bolder;
    margin-bottom: 15px;
}

p{
    margin: 15px 0;
    font-style: italic;
}

title{
    margin-top: 15px;
}

#main{
    display: inline-block;
}

#options{
    margin: 15px;
    width: auto;
}

button{
    padding: 8px 30px;
    font-weight: bolder;
    font-size: medium;
    cursor: pointer;
}

a {
    color:#fff;
    background-color:#feb22a;
    width:15px;
    height:15px;
    display:inline-block;
    border-radius:100%;
    font-size: medium;
    text-align:center;
    text-decoration:none;
    -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
}